<button (click)="DownloadToExcel()">Export to excel</button>

<div align="center" class="dateFilterSpace">
    <h4 align="center">Filters</h4>
    <label>Source Vendor</label>
    <select [(ngModel)]="selectorVendor" id = "vendorDropDown">
      <option *ngFor="let vendor of vendorList;" value= {{vendor.storeName}}>
        {{vendor.storeName}}
      </option>
    </select>

    <label id="startDateLabel">Starting Date</label>
    <input id="startDateEntry" type="date" name="" value="" [max]='today' [min] = 'dateString' [(ngModel)]="filterStartDate">
    <label id="endDateLabel">End Date</label>
    <input id="endDateEntry" type="date" name="" value="" [max]='today' [min] = 'dateString' [(ngModel)]="filterEndDate">

    <button id="submitFilters" (click)="submitFilters()">Submit</button>
</div>

<h2 align="center"> Stock Transfer Report</h2>

<div class="borderLine">
<!-- <table id="receiptTable" [dtTrigger]="dtTrigger" datatable class="row-border hover"> -->
<table #myTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table-bordered hover table" >
  <thead>
    <tr>
      <th>Date </th>
      <th>Source Vendor</th>
      <th>Target Vendor</th>
      <th>Item Name</th>
	    <th>Quantity</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngIf="itemList">


      <tr *ngFor="let user of itemList">
        <td>{{user.date}}</td>
        <td>{{user.sourceVendor}}</td>
        <td>{{user.targetVendor}}</td>
        <td>{{user.itemName}}</td>
        <td>{{user.quantity}}</td>
        <td>{{user.status}}</td>
      </tr>


  </tbody>

</table>
</div>
