<div class="container btn-group">
  <div class="row">
    <a class="btn btn-success col" href="https://doc-14-2g-docs.googleusercontent.com/docs/securesc/tu0sq74a2fnktkoee861o4fe9dl0da0d/i7t8jiomatgmn4geitv3nc718qafka4j/1500616800000/04488014152977278864/04488014152977278864/0B44vpblYNilaY0pTVC16RS1rd0E?e=download">Sample Spreadsheet</a>
    <div class="col btn btn-primary btn-file">
    	Upload Restock Excel Sheet
    	<input type="file" #file (change)="fileChange($event);file.value=''" placeholder="Upload file" accept=".xls,.xlsx" [(ngModel)]="path">
	</div>
  </div>
</div>

<div *ngIf="show">
	<table class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th *ngFor="let val of header">{{val}}</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr *ngFor="let item of data">
	  		<td>{{item.itemName}}</td>
	  		<td>{{item.outlet}}</td>
	  		<td>{{item.quantity}}</td>
	  		<td>{{item.seller}}</td>
	  		<td>{{item.date}}</td>
		</tr>
	  </tbody>
	</table>

	<div class="center-block text-center"> 
		<button type="button" (click)="Submit()" class="btn btn-success">Submit To Server </button>
	</div>
</div>
<div>
</div>

<!-- <input type="file" class="uploadButton" (change)="fileChange($event)" placeholder="Upload file" accept=".xls,.xlsx"> -->
