<div>
  <select [(ngModel)]="selectedItem" >
      <option *ngFor="let item of allItemList;" value= {{item}}>
        {{item}}
      </option>
    </select>
    <button id="submitStoreName" (click)="getInventory()">Go</button>
</div>

<div *ngIf="itemCurrentInventory" class="dateFilterButton">
  <button id="toggleFilters" (click)="toggleDateFilter()">Filters</button>
</div>

<div *ngIf="dateFilterOn" class="dateFilterSpace">

    <label id="startDateLabel">Starting Date</label>
    <input id="startDateEntry" type="date" name="" value="" [(ngModel)]="filterStartDate">
    <label id="endDateLabel">End Date</label>
    <input id="endDateEntry" type="date" name="" value="" [(ngModel)]="filterEndDate">

    <button id="submitFilters" (click)="submitFilters()">Submit</button>
</div>
<div class="mainTable">


<table #myTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border hover" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Item name</th>
      <th>Item Group</th>
      <th>Store Name</th>
      <th>Quantity</th>
	    <th>Rate</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="itemCurrentInventory">


      <tr *ngFor="let item of itemCurrentInventory">
        <td>{{item.id}}</td>
        <ng-template #loading><td>{{today | date:'dd-MMM-yyyy'}}</td></ng-template>
        <td *ngIf="item.date;else loading;">
            {{item.date | date:'dd-MMM-yyyy'}}
        </td>
        <td>{{item.itemName}}</td>
        <td>{{item.itemGroup}}</td>
        <td>{{item.outlet}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.rate}}</td>
        <td><button id="Details" (click)="getInventoryDetails(item)">Details</button></td>
      </tr>


  </tbody>

</table>


</div>
