<button (click)="DownloadToExcel()">Export to excel</button>

<div align="center" class="dateFilterSpace">
    <h4 align="center">Selected Item</h4>
    <label>Item</label>
    <select [(ngModel)]="selectedItem" >
      <option *ngFor="let item of allItemList;" value= {{item}}>
        {{item}}
      </option>
    </select>
    <!-- <label id="startDateLabel">Starting Date</label>
    <input id="startDateEntry" type="date" name="" value="" [max]='today' [(ngModel)]="filterStartDate">
    <label id="endDateLabel">End Date</label>
    <input id="endDateEntry" type="date" name="" value="" [max]='today' [(ngModel)]="filterEndDate"> -->
    <button *ngIf="!loading" id="submitStoreName" (click)="submitFilters()">Go</button>
</div>

<h2 align="center"> Item Wise Inventory Report</h2>

<div class="borderLine">

<div *ngIf="loading">
<app-loading-indicator ></app-loading-indicator>
</div>

<table #myTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table-bordered hover table" >
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item Group</th>
      <th>Store Name</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="itemCurrentInventory">


      <tr *ngFor="let item of itemCurrentInventory">
        <ng-template #loading><td>{{today | date:'dd-MMM-yyyy'}}</td></ng-template>
        <td>{{item.itemName}}</td>
        <td>{{item.itemGroup}}</td>
        <td>{{item.outlet}}</td>
        <td>{{item.quantity}}</td>
        <td><button id="Details" (click)="getInventoryDetails(item)">Details</button></td>
      </tr>


  </tbody>

</table>


</div>
