<div class="container">
    <h2>Restock Item</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" >
       <!--<div class="form-group">
            <label>Item Name</label>
            <input type="text" #varName="ngModel" class="form-control" name="Name" ngModel required
                   minlength="4" maxlength="10">
             <b>{{varName.className}}</b>
            <div *ngIf="varName.errors && (varName.dirty || varName.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!varName.errors.required">
                    Name is required
                    </div>
                    <div [hidden]="!varName.errors.minlength">
                    Name must be at least 4 characters long.
                    </div>
                    <div [hidden]="!varName.errors.maxlength">
                    Name cannot exceed 10 characters.
                    </div>
            </div>

        </div>-->

        <div class="form-group">
            <label>Select Item</label>
            <select [(ngModel)]="selectedItem" name="itemName" >
                <option *ngFor="let item of allItemList;" value= {{item}}>
                    {{item}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Select Store Name</label>
            <select [(ngModel)]="selectedVendor" name="outlet" >
                <option *ngFor="let item of allVendorsList;" value= {{item}}>
                    {{item}}
                </option>
            </select>
        </div>

        <!-- <div class="form-group">
            <label>Store Name</label>
            <input type="text" class="form-control" name="outlet" id="outlet" required #outlet="ngModel" ngModel>
            <div *ngIf = "outlet.errors && (outlet.dirty || outlet.touched)" class="alert alert-danger">
              <div>
                Store Name is required!!
              </div>
            </div>
        </div>

        <div class="form-group">
            <label>Item Name</label>
            <input type="text" class="form-control" name="itemName" id="itemName" required #itemName="ngModel" ngModel>
            <div *ngIf = "itemName.errors && (itemName.dirty || itemName.touched)" class="alert alert-danger">
              <div>
                Item Name is required!!
              </div>
            </div>

        </div> -->
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" name="quantity" id="quantity" required #quantity="ngModel" ngModel>
            <div *ngIf = "quantity.errors && (quantity.dirty || quantity.touched)" class="alert alert-danger">
              <div>
                Quantity is required!!
              </div>
            </div>

        </div>
        <div class="form-group">
            <label>Bought From</label>
            <input type="text" class="form-control" name="seller" id="seller" required #seller="ngModel" ngModel>
            <div *ngIf = "seller.errors && (seller.dirty || seller.touched)" class="alert alert-danger">
              <div>
                Bought From is required!!
              </div>
            </div>
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date" id="date" required #date="ngModel" ngModel>
            <div *ngIf = "date.errors && (date.dirty || date.touched)" class="alert alert-danger">
              <div>
                Date is required!!
              </div>
            </div>
        </div>
        <!--<div ngModelGroup="Address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="Street" ngModel>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="City" ngModel>
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" #varpostalCode="ngModel" class="form-control" name="PostalCode" ngModel pattern="^[1-9][0-9]{4}$">
                <div *ngIf="varpostalCode.errors && (varpostalCode.dirty || varpostalCode.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!varpostalCode.errors.pattern">
                        Invalid format for PostalCode
                    </div>
            </div>
            </div>

        </div> -->
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
    </form>
</div>
