<div class="container btn-group">
  <div class="row">
    <a class="btn btn-success col" target="_blank" href="http://server.cemnohouse.biz/files/add_item.xlsx">Sample Spreadsheet</a>
    <div class="col btn btn-primary btn-file">
    	Upload New Item Excel Sheet
    	<input type="file" #file (change)="fileChange($event);file.value=''" placeholder="Upload file" accept=".xls,.xlsx"  multiple>
	</div>
  </div>
</div>

<div *ngIf="show && duplicates.length == 0" >
	<table class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th *ngFor="let val of header">{{val}}</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr *ngFor="let item of data">
	  		<td>{{item.itemName}}</td>
	  		<td>{{item.itemGroup}}</td>
	  		<td>{{item.outlet}}</td>
	  		<td>{{item.uom}}</td>
		</tr>
	  </tbody>
	</table>

	<div class="center-block text-center"> 
		<button type="button" (click)="Submit()" class="btn btn-success">Submit To Server </button>
	</div>
</div>

<div *ngIf = "duplicates.length != 0">
	<div  *ngFor="let item of duplicates" class="alert alert-danger error-alert-close">
	  	Duplicate entry for {{item.itemName}} in {{item.outlet}}
	</div>   
</div>


<!-- <input type="file" class="uploadButton" (change)="fileChange($event)" placeholder="Upload file" accept=".xls,.xlsx"> -->
