<!--<div class="container">
<app-fileupload></app-fileupload>
</div>-->

<div class="container">
    <h2>Add New Item</h2>
    <div *ngIf="!allVendorsList || !allItemsList" align="center" class="panel-body">
        <div class="loader">
        </div>
        <label>Loading . . . </label>
    </div>
    <form *ngIf="allVendorsList && allItemsList" autocomplete="off" #userForm="ngForm" (ngSubmit)="onSubmit(userForm);" >

        <div class="form-group">
            <label>Select Store Name</label>
            <select [(ngModel)]="selectedVendor" name="outlet" >
                <option *ngFor="let item of allVendorsList;" value= {{item}}>
                    {{item}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Item Name</label>
            <input type="text" class="form-control" name="itemName" id="itemName" [typeahead]="allItemsList" required #itemName="ngModel" ngModel>
            <div *ngIf = "itemName.errors && (itemName.dirty || itemName.touched)" class="alert alert-danger">
              <div>
                ItemName is required!!
              </div>
            </div>
        </div>

        <div class="form-group">
            <label>Item Group</label>
            <input type="text" class="form-control" name="itemGroup" id="itemGroup" [typeahead]="allItemGroups" required #itemGroup="ngModel" ngModel>
            <div *ngIf = "itemGroup.errors && (itemGroup.dirty || itemGroup.touched)" class="alert alert-danger">
              <div>
                ItemGroup is required!!
              </div>
            </div>
        </div>

        <div class="form-group">
            <label>UOM</label>
            <input type="text" class="form-control" name="uom" id="uom" [typeahead]="allItemUOM" required #uom="ngModel" ngModel>
            <div *ngIf = "uom.errors && (uom.dirty || uom.touched)" class="alert alert-danger">
              <div>
                uom is required!!
              </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
    </form>
</div>
